<div class="container">
    <div class="item"><a [routerLink]="'/welcomeGrid'">WelcomeGrid</a></div>
    <div class="item"><a [routerLink]="'/headerFooterSidebar'">Header Footer Sidebar</a></div>
    <div class="item"><a [routerLink]="'/headerFooterSidebarAndGrid'">Header Footer Sidebar With grid</a></div>
    <div class="item"><a [routerLink]="'/letitout/welcomePage'">Letitout/welcome page</a></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>